<ion-header class="site-header">
  <ion-toolbar color="light">
    <div class="container navbar">
      <div class="brand">
        <ion-icon name="desktop-outline"></ion-icon>
        <span>Recepción habitación</span>
      </div>
      <nav class="menu">
        <a routerLink="/recepcionista" routerLinkActive="active">Dashboard</a>
        <a routerLink="/recepcionista/reservas">Reservas Hoy</a>
        <a routerLink="/recepcionista/checkin">Check-in</a>
        <a routerLink="/recepcionista/habitaciones">Habitaciones</a>
        <a routerLink="/recepcionista/pagos">Pagos</a>
        <a href="#" class="logout" (click)="logout($event)">Cerrar sesión</a>
      </nav>
    </div>
  </ion-toolbar>
</ion-header>